In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestRegressor

In [2]:
data = pd.read_csv('mat-reg.csv')

In [3]:
data.head()

,age,Medu,Fedu,failures,freetime,goout,Walc,absences,G1,G2,classification
0,18,4,4,0,3,4,1,6,5,6,6
1,17,1,1,0,3,3,1,4,5,5,6
2,15,1,1,3,3,2,3,10,7,8,10
3,15,4,2,0,2,2,1,2,15,14,15
4,16,3,3,0,3,2,2,4,6,10,10

In [4]:
X = data.drop(['classification'], axis = 1)
y = data['classification']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [6]:
model = RandomForestRegressor(n_estimators=700,max_depth=4).fit(X_train, y_train)

In [7]:
predictions = model.predict(X_test)

print(model.score(X_train,y_train))
print(model.score(X_test,y_test))

0.917899360779363
0.9011886303180019

In [8]:
pd.to_pickle(model,r'C:\Users\k1r\Desktop\python\Jupyter\reg.pickle')